[package]

name = "kitoken-python"
description = "Python bindings for Kitoken"
version = "0.0.0"
edition = "2021"
resolver = "2"
publish = false
workspace = "../.."


[lib]

name = "kitoken"
path = "src/lib.rs"
crate-type = ["cdylib"]


[dependencies]

kitoken = { path = "../..", default-features = false, features = ["all"] }

log = { version = "0.4.22" }
pyo3 = { version = "0.22.6", features = [
    "abi3",
    "abi3-py310",
    "serde",
    "extension-module",
    "generate-import-lib",
] }
pyo3-log = { version = "0.11.0" }
serde-pyobject = { version = "0.4.0" }

[target.'cfg(any(target_arch = "x86", target_arch = "x86_64", target_arch = "aarch64"))'.dependencies]

mimalloc = { version = "0.1.43", features = ["local_dynamic_tls"] }
